#no::before {
    content:'';
    display:block;
    position:absolute;
    left:auto !important;
    right:auto !important;
    bottom:auto !important;
    height:auto !important;
    background-color:currentColor;
    transition: none !important;
    transition-property:none !important;
}

#no:hover::before{
    right:0 !important;
}

#no{
    padding:8px 0;
    border-bottom:1px solid #e5e5e5;
}